com.example.entities.${C.databaseName}
#if($C.importDefinitions.length() > 0)

${C.importDefinitions}
#end

#set($className = $_.W($table.tableName).c2UC().singularize())
case class ${className}(
#foreach($c in ${table.columns})
    #set($columnName = $_.W($c.columnName).c2LC())
    #set($clazz = ${M.classDefinition($c.dataType)})
    ${columnName}: #if($c.isNullable)Option[${clazz}]#else${clazz}#end${_.printIf($foreach.hasNext, ",")}
#end
)
